@import "../variables.scss";
@import "../scaffolding.scss";
@import "../mixins.scss";

.price-list {
	background-color: #f8f5f2;
}

.price-list__clip-bg-wrapper {
	clip-path: polygon(50% 34px, 100% 0, 100% 100%, 0 100%, 0 0);
	background-color: #353535;
	margin-bottom: -35px;
	padding-bottom: 54px;
	padding-top: 34px;
}

.price-list__wrapper {
	width: auto;
	margin: 0 auto;
	


	width: 87.5%;
}

.price-list__header {
	margin-bottom: 20px;
	margin-top: 35px;
	text-align: center;
	text-transform: uppercase;
}

.price-list__table {
	margin-bottom: 12px;
	width: 100%;
}

.price-list__discount {
	box-sizing: border-box;
	padding-left: 112px;
	padding-top: 16px;
	height: 90px;

	border: 2px solid #3f3f3f;;
	background-image: url(../img/clock-illustration.svg);
	background-repeat: no-repeat;

	background-position: 21px center;
	background-size: 58px;
}

@media (min-width: $tablet-width) {
	.price-list__wrapper {
		width: 84%;
	}

	.price-list__header {
		text-align: left;
		margin-bottom: 53px;
	}

	.price-list__discount {

		padding-top: 40px;
		padding-left: 186px;
		height: 113px;
		background-position: 27px center;
		text-transform: uppercase;
		font-weight: bold;
		br {
			display: none;
		}
	}
}

@media (min-width: $desktop-width) {
	.price-list__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 80%;
		max-width: 1200px;
	}

	.price-list__clip-bg-wrapper {
		clip-path: unset;
		padding-bottom: 102px;
	}

	.price-list__header {
		width: 100%;
	}

	.price-list__table {
		width: 65.6%;
		margin: 0;
	}

	.price-list__discount {
		border-width: 2px;
		width: 28%;
		height: 352px;
		padding-left: 0;
		padding-top: 270px;
		background-position: center 40px;
		background-size: 180px;
		text-align: center;
		br {
			display: inline;
		}
	}
}