@import "../variables.scss";
@import "../scaffolding.scss";
@import "../mixins.scss";


.reviews {
	background-color: #f8f5f2;
	color: #000;

	border-top: 1px solid #e5ddd5;
}

.reviews__wrapper {
	padding-top: 25px;
	/*fixed layout
	width: 280px; */
	width: 87.5%;
	margin: 0 auto;
	position: relative;
}

.reviews__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}

.reviews__write {
	display: none;
}

.reviews__switcher {
	display: none;
}

.reviews__item {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.reviews__author-picture {
	flex-shrink: 0;

	width: 50px;
	height: 50px;
	margin: 0;
	margin-top: 8px;
	margin-right: 20px;

	border: 1px solid #e5ddd5;
}

.reviews__author-name {
	font-size: 24px;
	line-height: 27px;
	font-weight: bold;
	font-style: normal;
}

.reviews__text {
	font-size: 18px;
	line-height: 27px;
}


.reviews__toggles {
	margin: 0 auto;
}

@media (min-width: $tablet-width) {
	.reviews__wrapper {
		/* fixed layout
		width: 640px; */
		width: 84%;
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.reviews__title {
		text-align: left;
	}

	.reviews__write {
		display: block;
		position: absolute;
		right: 0;
		top: 28px;
	}

	.reviews__item {
		width: auto;
		flex-grow: 1;

		padding-top: 36px;
		padding-bottom: 38px;

		border-top: 1px solid #e5ddd5;
		border-bottom: 1px solid #e5ddd5; 
	}

	.reviews__text {
		margin-bottom: 0;
	}

	.reviews__list {
		display: flex;
	}

	.reviews__switcher {
		display: block;
		font-size: 24px;
		width: 50px;
		background-color: #f8f5f2;
		border: 1px solid #e5ddd5;
		cursor: pointer;

		box-sizing: border-box;
	}

	.reviews__author-picture{
		width: 80px;
		height: 80px;

		margin-top: 8px;
		margin-right: 28px;
		margin-left: 30px;

		border: none;
		clip-path: circle(50% at 50% 50%);
		img {
			height: 100%;
		}
	}

	.reviews__block {
		margin-right: 42px;
	}

	.reviews__toggles {
		position: relative;
		z-index: 1;
		top: -10px;
		padding-left: 25px;
		padding-right: 25px;
		height: 20px;
		background-color:  #f8f5f2;
	}
}

@media (min-width: $desktop-width) {
	.reviews__wrapper {
		/* fixed layout
		width: 960px; */
		width: 80%;
		max-width: 1200px;
		padding-bottom: 40px;
	}

	.reviews__item {
		/* fixed layout
		width: 820px; */
		width: 85%;
		flex-grow: 0;
		height: 160px;
		padding-top: 0;
		padding-bottom: 0;

		border-left: 1px solid #e5ddd5;
		border-right: 1px solid #e5ddd5;
	}

	.reviews__list {
		justify-content: space-between;
	}

	.reviews__author-picture {
		margin: 0;
		margin-right: 80px;
		width: 249px;
		height: auto;

		clip-path: none;
	}

	.reviews__block {
		margin-top: 36px;
		margin-right: 80px;
	}
	.reviews__toggles {
		position: unset;
		margin-top: 40px;
	}
}