@import "../variables.scss";
@import "../scaffolding.scss";
@import "../mixins.scss";


.works-item {
	border: 1px solid #e5ddd5;
	margin-top: 20px;
}

.works-item__image--wrapper img {
	width: 100%;
}

.works-item__image--wrapper {
	max-height: 480px;
	margin-top: 0;
	margin-bottom: 24px;
	overflow: hidden;

	position: relative;
}

.works-item--work-of-month picture::before {
	content: "Work of month";
	display: inline;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	line-height: 2.5em;

	position: absolute;
	bottom: 29px;

	padding-left: 9%;
	padding-right: 10%;
	
	clip-path: polygon(100% 0, calc(100% - 9px) 50%, 100% 100%, 0 100%, 0 0);
	height: 50px;
	background-color: #826550;
}

.works-item__review {
	padding-left: 7.8%;
	padding-right: 7.8%;
}

.works-item__title {
	margin-top: 0;
	margin-bottom: 21px;
}

.works-item__text {
	margin: 0;
	margin-bottom: 23px;
}

.works-item__parameter-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding-left: 0;
	list-style: none;
}

.works-item__parameter-item {
	font-size: 16px;
	line-height: 27px;
	text-transform: uppercase;
	box-sizing: border-box;
	margin-bottom: 24px;
	width: 50%;
}

.works-item__parameter-item--haircut {
	padding-left: 36px;
	background-image: url(../img/scissors-icon.svg);
	background-repeat: no-repeat;
	background-size: 21px;
	background-position: 0 center;
}

.works-item__parameter-item--shaving {
	padding-left: 44px;
	background-image: url(../img/beard-icon.svg);
	background-repeat: no-repeat;
	background-size: 23px;
	background-position: 0 center;
}

.works-item__parameter-item--mustache {
	padding-left: 57px;
	margin-left: -13px;
	background-image: url(../img/mustache-icon.svg);
	background-repeat: no-repeat;
	background-size: 45px;
	background-position: 0 center;
}

@media (min-width: $tablet-width) {
	.works-item {
		display: flex;
		flex-wrap: wrap;
		clear: both;
	}
	.works-item__image--wrapper img {
		display: block;
	}

	.works-item--work-of-month picture::before  {
		bottom: unset;
		top: 35px;
		padding-left: 7%;
		padding-right: 11%;
	}

	.works-item__image--wrapper {
		max-height: unset;
		overflow: unset;
		margin-bottom: 0;
		width: 42%;
		margin: 0;
		overflow: visible;
	}

	.works-item__review {
		display: flex;
		flex-direction: column;

		padding-top: 50px;
		width: 58%;
		box-sizing: border-box;
	}

	.works-item__title {
		margin-top: 0;
	}

	.works-item__parameter-list {
		margin-top: auto;
		margin-bottom: 40px;
	}
}

@media (min-width: $desktop-width) {
	.works-item {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: 30.62%;
		min-height: 541px;
		margin-top: 41px;
	}

	.works-item__review {
		width: 100%;
		height: 232px;
		padding-top: 30px;
	}

	.works-item__text {
		margin-bottom: 0;
	}

	.works-item__parameter-list {
		margin-bottom: 0;
	}

	.works-item__parameter-item {
		margin-bottom: 28px;
	}

	.works-item--work-of-month {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: auto;
		position: relative;
		min-height: unset;
		.works-item__image--wrapper {
			width: 50%;
		}
		.works-item__review {
			width: 50%;
			height: auto;
			box-sizing: border-box;
			padding-top: 132px;
			padding-left: 4.16%;
			padding-right: 9.27%;
		}

		.works-item__parameter-item {
			width: 33.33%;
		}
		picture::before {
			display: none;
		}

		&::after {
			content: "Work of month";
			display: inline;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			font-size: 20px;
			line-height: 2.5em;

			position: absolute;
			top: 29px;
			right: 0;

			padding-left: 3.125%;
			padding-right: 1.875%;
			
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8.5px 50%);
			height: 50px;
			background-color: #826550;			
		}
	}

	.works-item__image--wrapper  {
		width: 100%;
	}
}
